<div id="content">
  <h2>Find subdomains</h2>
  <div id="form">
    <input id="domain-field" type="text" name="domain" placeholder="Domain" />
    <button id="submit">Search</button>
  </div>
  <div id="progress"></div>
  <div id="results"></div>
</div>

<style>
  :root {
    font-family: sans-serif;
  }

  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }

  #form {
    position: relative;
    width: 100%;
  }

  input,
  button {
    display: block;
    padding: 0.8em;
    border: none;
    border-radius: 6px;
    border: 2px solid black;
    margin: 0;
  }

  #content {
    margin: auto;
    margin-top: 2em;
    width: 400px;
    max-width: calc(100vw - 2em);
  }

  h2 {
    margin: 0;
    position: relative;
    margin-bottom: 0.3em;
  }

  input {
    width: 76%;
    margin-bottom: 0.7em;
    left: 0;
  }

  button {
    width: 22%;
    color: white;
    background: black;
  }

  #submit {
    right: 0;
    top: 0;
    position: absolute;
  }

  #progress {
    margin-bottom: 1em;
  }

  #save {
    position: absolute;
    right: 0;
    top: -0.2em;
  }
</style>

<script src="/static/socket.io.js"></script>
<script src="/static/index.js"></script>
